# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
PORT=3002
MODE=development
PREFIX=api
CORS=http://localhost:5173
STORAGE_PATH=/public/

DATABASE_URL="postgresql://esedusr:esedpwd@localhost:5432/esed?schema=public"

JWT_CRYPT_KEY=VLgjYOwiGXgo36RgAbMEhw9TYxkomoIC
JWT_ACCESS_TOKEN_SECRET=oznOAplf1BpZsHKm7uP7dN6kiN3KLxid
JWT_ACCESS_TOKEN_EXPIRES_IN=1m
JWT_REFRESH_TOKEN_SECRET=pZs7dkiP1BN3oznOKLxidAN6plfHKm7u
JWT_REFRESH_TOKEN_EXPIRES_IN=30d
JWT_REFRESH_TOKEN_COOKIE_KEY=_secure.session.token

# POSTGRES_USER=esedusr
# POSTGRES_PASSWORD=esedpwd
# POSTGRES_DB=esed

# ADMIN_USER=esed@admin.ru
# ADMIN_SHORTNAME=esedadm
# ADMIN_PASSWORD=HotUvMIRz8
