@import './fonts.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {

    --forn-inter-sans: "Inter";
    --font-lato-sans: "Lato";
    --font-geist-sans: "Geist Sans";
    --font-geist-mono: "Geist Mono";

    --height-original: 5rem;
    --height-inner: 5rem;

    --mask: 0 0% 30%;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 7.52 58.25% 47.64%;
    --destructive-foreground: 210 40% 98%;
    --ring: 131.2 81.52% 36.08%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 225 10% 15.69%;
    --foreground: 219 18.92% 84.5%;
    --muted: 231.43 7.87% 17.45%;
    --muted-foreground: 220 13.03% 63.14%;
    --popover: 230 10.34% 11.37%;
    --popover-foreground: 219 0% 100%;
    --card: 230.73 10% 11.3%;
    --card-foreground: 41.34 100% 99.27%;
    --border: 220 5.38% 16.55%;
    --input: 235 10% 22%;
    --primary: 237 50% 50%;
    --primary-foreground: 220 0% 100%;
    --secondary: 235 10.71% 21.96%;
    --secondary-foreground: 220 0% 100%;
    --accent: 235 15% 25%;
    --accent-foreground: 220 13% 93%;
    --destructive: 7.52 58.25% 47.64%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 0% 21.28%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}